files:
  "/etc/nginx/conf.d/elasticbeanstalk/01_client_max_body_size.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Allow multipart uploads up to 8MB
      client_max_body_size 8m;

commands:
  01_reload_nginx:
    command: "service nginx reload || systemctl reload nginx || nginx -s reload || true"
